<div class="container">
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Developpeur en tapant</label>
        <input #nom [(ngModel)]="searchTerm" name="searchTerm" class="form-control" >
        </div>
        </form>
   <!---- <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2 mt-2 ">
        <label>Nom Developpeur</label>
        <input type="text" class="form-control" [(ngModel)]="nomDeveloppeur" name="nomDeveloppeur" class="form-control">
        <button type="submit" (click)="rechercherDevelopers()" class="btn btn-primary mb-2 ml-2">Rechercher</button>
        </div>
        </form>-->
        
    <div class="card shadow mb-4">
    <div class="card-body">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Liste de Developpeurs</th>
            </tr>
            <tr> 
                <th>Id</th><th>Nom</th> <th>Email</th> <th>Telephone</th><th>Salaire</th><th>Langage</th>
            </tr>
        </thead>
        <tbody *ngFor="let developpeur of developpeurs | filter:searchTerm ">
            <tr >
                <td>{{developpeur.idDeveloppeur}}</td>
                <td>{{developpeur.nomDeveloppeur}}</td>
                <td>{{developpeur.mailDeveloppeur}}</td>
                <td>{{developpeur.telDeveloppeur}}</td>
                <td>{{developpeur.salaireDeveloppeur}}</td>
                <td>{{developpeur.langage.nomLangage}}</td>

                <!-- <td><a class="btn btn-danger" (click)="supprimerDeveloppeur(developpeur)">Supprimer</a></td>
                <td><a class="btn btn-success" [routerLink]="['/updateDeveloppeur',developpeur.idDeveloppeur]">Modifier</a></td> -->
            </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
